.nav {
	height: 100%;
	width: 15%;
	min-width: 100px;

	background-color: #000;
	min-width: 200px;
	z-index: 1;

	padding: 0 0.5rem;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--color-orange);
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	padding: 10px;

	border-bottom: 0.1rem solid var(--color-orange);
}

.content {
	width: 85%;
	height: 100%;
	background: #111;
	padding: 0 auto;
	overflow: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.table {
	width: 90%;
	border-collapse: collapse;
	margin-top: 3%;
}
.table > thead > tr + tr {
	background-color: #111;
	color: var(--color-orange);
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	text-align: left;
	border: 1px solid var(--color-orange);
	z-index: 100;
	top: -1px;
	height: 5vh;
}

.table tbody {
	overflow: scroll;
}
.table tbody tr:nth-child(odd) {
	background: #000;
}

.table th {
	background-color: #111;
	color: var(--color-orange);
	font-size: 1rem;
	padding: 0.5rem 1rem;
	text-align: left;

	border: 1px solid var(--color-orange);
}
.table td {
	width: fit-content;
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-orange);
	color: white;
	font-weight: bold;

	font-size: 1rem;
}
.table td img {
	width: 25px;
	height: 25px;
	object-fit: cover;
	cursor: pointer;
}

.trash:hover {
	filter: brightness(0) saturate(100%) invert(34%) sepia(97%) saturate(6340%)
		hue-rotate(354deg) brightness(102%) contrast(139%);
}

.filters {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 1rem;
	gap: 1rem;
}
.inputField {
	width: 100%;
	border: 0;
	border-bottom: 0.1rem solid var(--color-orange);
	background: transparent;
	color: var(--color-orange);
	padding-left: 0.5rem;
	font-size: 1rem;
}

.inputField:focus {
	outline: none;
	border-bottom-width: 0.2rem;
}
.inputField[type='color'],
.inputField[type='file'] {
	width: 100%;
	border: 0;
	height: 2rem;
	font-size: 1rem;
	padding: 0;
}

.inputField[type='file']::-webkit-file-upload-button {
	background: transparent;
	border: 1px solid var(--color-orange);
	outline: 0;

	color: var(--color-orange);
	margin-right: 0.5rem;

	transition: background-color 0.3s ease;

	cursor: pointer;
}

.inputField[type='file']::-webkit-file-upload-button:disabled {
	color: #444;
}
.inputField[type='file']::-webkit-file-upload-button:hover {
	background: var(--color-orange);
	color: #444;
}

.createBtn {
	width: 100%;
	height: 20%;

	background: 0;
	border: 1px solid var(--color-orange);
	color: var(--color-orange);

	font-size: 1.25rem;

	font-weight: bolder;
	transition: all 0.25s ease-in-out;
}
.createBtn:hover {
	background: var(--color-orange);
	color: black;
}

.inputFieldNew:disabled {
	flex: 1;
	border: 0;
	outline: 0;
	background: transparent;
	color: white;

	width: 48.5%;
	font-size: 1.5rem;
}
